* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.page-wrap {
    width: 100%;
    height: 100%;
}

#page-wrap {
    display: none;
}

.page {
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
}

.pre-page {
    width: 100%;
    height: 100%;
}

.pre-img {
    width: 100%;
    height: auto;
    max-height: 100%;
    max-height: 100%;
}

.pre-img img{
    width: 100%;
    height: auto;
    max-height: 100%;
    max-height: 100%;
}

.pre-text {
    width: 100%;
    height: 15%;
    text-align: center;
    padding-top: 5%;
    color: #FFF;
    font-size: 32px;
}


.page-flower {
    z-index: -100;
    width: 100%;
    height: 100%;
    position: fixed;
    background-image: url("./img/flower.jpg");
    -webkit-filter: blur(10px); /* Chrome, Opera */
    -moz-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
}

/*.page:first-child {
    background-color: #FF69B4;
}*/

/*.page:nth-child(2) {
    background-color: #FF69B4;
}

.page:nth-child(3) {
    background-color: #FF69B4;
}

.page:nth-child(4) {
    background-color: #FF69B4;
}

.page:last-child {
    background-color: #FF69B4;
}*/

.title {
    width: 100%;
    text-align: center;
    padding-top: 40px;
    color: #FFF;
    font-size: 52px;
    opacity: 0;
}

.subtitle {
    width: 100%;
    text-align: center;
    padding-top: 20px;
    color: #FFF;
    font-size: 28px;
    opacity: 0;
}

.valen-dot {
    width: 100%;
    text-align: center;
    padding-top: 20px;
    color: #FFF;
    font-size: 16px;
    opacity: 0;
    font-family: "微软雅黑";
}

.valen-title {
    width: 100%;
    height: 15%;
    text-align: center;
    padding-top: 12%;
    color: #FFF;
    font-size: 32px;
    opacity: 0;
}

.valen-text-bottom {
    width: 100%;
    height: 15%;
    text-align: center;
    padding-top: 5%;
    color: #FFF;
    font-size: 32px;
    opacity: 0;
}

.valen-img {
    text-align: center;
    opacity: 0;
    padding-bottom: 20%
}

.valen-only-img {
    text-align: center;
    padding-bottom: 10%;
    opacity: 0;
    max-height: 70%;
}

.valen-only-img img {
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

.valen-img img {
    width: 80%;
}

.arrow{
    position: absolute;
    left: 50%;
    bottom: 6%;
    width: 33px;
    height: 18px;
    margin-left: -16px;
    background: url(./img/arrow.png) no-repeat;
    background-size: 33px auto;
    opacity: 0;
}

.arrow-h{
    position: absolute;
    right: 10px;
    top: 50%;
    width: 33px;
    height: 18px;
    margin-top: -9px;
    opacity: 0;
}

.arrow-h i{
    display: block;
    width: 33px;
    height: 18px;
    background: url(../img/arrow.png) no-repeat;
    background-size: 33px auto;
    -webkit-transform: rotate(-90deg);
}

.current .arrow {
    -webkit-animation: swipeMoveTop 1.5s 1s ease infinite;
}

.current .arrow-h {
    -webkit-animation: swipeMoveLeft 1.5s 1s ease infinite;
}

/*?????¡®????¡èo*/
@-webkit-keyframes swipeMoveTop {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 10px, 0);
    }
    70% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
    }
    100% {
        opacity: 0;
        -webkit-transform: translate3d(0, -10px, 0);
    }
}

/*?¡¤|??¡®????¡èo*/
@-webkit-keyframes swipeMoveLeft {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(10px, 0, 0);
    }
    70% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
    }
    100% {
        opacity: 0;
        -webkit-transform: translate3d(-10px, 0, 0);
    }
}

@-webkit-keyframes slideToTop {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100px, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
    }
}
