---
layout: default
top: iem-post.html
feed: atom.xml
---

<div id="header">
    {% include nav-name.html %}
</div>

<div id="page">
    <h1 class="entry-title">{{ page.title }}</h1>
    <div class="entry-content">

        {{ content }}

         <!-- 作者和时间 -->
        <address class="signature">
            <span class="date">{{ page.date | date_to_long_string }}</span>
            <span class="location">{{ page.location }}</span>
        </address>
    </div>
</div><!-- End Page -->

<div id="disqus_thread"><p>disqus 可能被墙~</p></div>

<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://dylan-3.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>